.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .content {
    flex: 1;
    margin-top: 0; /* Adjust based on header height */
    margin-bottom: 0; /* Adjust based on footer height */
    overflow-y: auto;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }