.app-content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-box {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
}

.welcome-box h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.welcome-box h1 {
  color: #0071dc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.search-bar button {
  background-color: #0071dc;
  border: none;
  padding: 10px 15px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-bar button img {
  width: 20px;
  height: 20px;
}

.categories-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.category-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card img {
  padding-left: 15px;
  width: 8vh;
  height: 10x;
  object-fit:contain;
}

.category-card h4 {
  padding: 35px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}