.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .search-bar {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .modal-dialog.half-modal {
    max-width: 600px;
    margin: 30px auto;
    transition: opacity 0.5s ease-in-out, transform 2.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(-20px);
  }

/* Remove the empty ruleset */